/* ProfilePage.css */
.profile-container {
    width: 100%;
    padding: 2rem 6%;
    display: flex;
    gap: 2rem;
    justify-content: center;
  }
  
  .profile-container.block {
    display: block;
  }
  
  .widget-container {
    flex-basis: 26%;
  }
  
  .main-content {
    flex-basis: 42%;
  }
  
  .main-content.block {
    margin-top: 2rem;
  }
  
  .spacer {
    margin: 2rem 0;
  }
  
  /* Add styles for different screen sizes */
  @media (min-width: 1000px) {
    .profile-container {
      display: flex;
    }
    .profile-container.block {
      display: block;
    }
    .widget-container {
      flex-basis: 26%;
    }
    .main-content {
      flex-basis: 42%;
    }
  }
  .loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #000;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  