/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

/* Reset Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Rubik", sans-serif;
}

/* Theme Variables */
body.light-mode {
  --background-color: #f0f0f0;
  --text-color: #000;
  --navbar-color: #e0e0e0;
  --widget-background-color: #fff;
  --widget-border-color: #e0e0e0;
}

body.dark-mode {
  --background-color: #121212;
  --text-color: #fff;
  --navbar-color: #1f1f1f;
  --widget-background-color: #1f1f1f;
  --widget-border-color: #333;
}

/* Apply Theme Variables */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Utility Classes */
.full-width {
  width: 100%;
}
.flex-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Component Styling */
.navbar {
  background-color: var(--navbar-color);
  padding: 1rem 3%;
  display: flex;
  justify-content: space-between;
}

.navbar-logo {
  font-size: 2rem;
}

/* Responsive Styles */
@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .homepage {
    flex-direction: column;
    gap: 20px;
  }
  .widget {
    max-width: 100%;
  }
}
