/* Navbar container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6%;
    background-color: var(--navbar-color);
    color: var(--text-color);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Left side of the Navbar */
  .navbar-left {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  
  .navbar-logo {
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    background-color: var(--widget-background-color);
    border: 1px solid var(--widget-border-color);
    border-radius: 5px;
    padding: 0.5rem 1rem;
  }
  
  .search-input {
    border: none;
    outline: none;
    background: none;
    color: var(--text-color);
    flex: 1;
  }
  
  .search-button {
    border: none;
    background: none;
    cursor: pointer;
    color: var(--text-color);
    font-size: 1.2rem;
  }
  
  /* Right side of the Navbar */
  .navbar-right {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .theme-toggle {
    background-color: var(--widget-background-color);
    color: var(--text-color);
    border: 1px solid var(--widget-border-color);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .icon {
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .navbar-select {
    background-color: var(--widget-background-color);
    color: var(--text-color);
    border: 1px solid var(--widget-border-color);
    padding: 0.25rem;
    border-radius: 5px;
    cursor: pointer;
  }
  